@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body {
  background-image: url('../Assets/Images/redd-f-5CPIzjWzGxo-unsplash.jpg');
  font-family: 'Source Code Pro', monospace;  color: lightblue;
  margin: 0px;
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
  height: 80px;
  margin-top: 0px;
  background-color: rgba(44, 98, 208, 0.2)
}

  #nav {
    display: flex;
    width: 100%;
    height: 3rem;
    justify-content: flex-start;
    padding-left: 10px;
    align-items: center;
    border: 1px solid green;
    font-size: 1.5rem;
  }
  #logo {
    display: flex;
    width: 100%;
    height: 5rem;
    border: 1px solid blue;
    align-items: center;
    justify-content: center;
    margin: 0;
  }


a {
  color: white;
}

select {
  background-color: rgb(31, 32, 32);;
  color: lightblue;
  border: 1px solid lightblue;
  border-radius: 25px;
  width: 10vh;
  padding: 3px;
  font-family: 'Source Code Pro';
}

button {
  background-color: rgb(31, 32, 32);
  color: lightblue;
  border: 1px solid lightblue;
  border-radius: 25px;
  padding: 12px;
}

#containers {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  #userSign, #formSubmit, #partnerSign {
    display: flex;
    align-items: center;  
    height: 25px;
  }

  #dropdowns {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
    padding: 20px;
    width: 50vh;
  }

  #formContainer {
    display: flex;
    // border: 1px solid green;
    flex-direction: column;
    align-items: center;    
    height: 100px;
    margin: 20px;
    width: 75%;
    justify-content: space-around;
  }

  #resultsContainer{
    display: flex;
    // border: 1px solid blue; 
    border-Radius: 25px;
    background-color: rgba(65, 63, 63, 0.9);
    background-repeat: no-repeat;
    width: 75%; 
    display: flex; 
    justify-content: center; 
    flex-direction: column;
    padding: 10px;

    h2 {
      width: 25%;
      // border: 1px solid blue;
      color: rgb(117, 180, 234);
    }
    #resultsBody{
      // border: 1px solid blue;
      border-radius: 5;
      width: 95%;
      height: 15rem;
      margin: auto;
    }
    #save{
      display: flex;
      justify-content: center;
      align-items: center;
    }
    #btn {
      margin-left: 15px;
    }
  }
}
.signup {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid red;
  height: 50vh;

  .signup-container {
    display: flex;
    width: 300px;
    justify-content: flex-start;
    align-items: center;
    margin: 10px;
    padding: 2px;
    // border: 1px solid red;
  }
  #text {
    margin: 5px 10px;
  }
  #text2, #text3 {
    margin: 5px 12px;
  }
  #birthday {
    margin: 0 15px;
    padding: 2px;
  }
  #submit {
    display: flex;
    justify-content: flex-end;
    width: 242px;
  }
  #btn {
    height: 30px;
    width: 80px;
    background-color: black;
    color: aqua;
    border-radius: 5px;
  }
  #password, #username {
    height: 25px;
  }
}

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid red;
  height: 50vh;

  .login-container {
    display: flex;
    width: 300px;
    justify-content: flex-start;
    align-items: center;
    margin: 10px;
    padding: 2px;
    // border: 1px solid red;
  }
  #submit {
    display: flex;
    justify-content: flex-end;
    width: 242px;
    
  }
  #text {
    margin: 5px 10px;
  }
  #text2 {
    margin: 5px 12px;
  }
  #bottombox {
    // border: 1px solid red;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #google{
    display: flex;
    justify-content: center;
    align-items: center;
    // border: 1px solid red;
    width: 40%;
    height: 40px;
    margin: 20px;
    background-color: aqua;
    border-radius: 5px;
  }
  #newsignup {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px;
  }
  #btn {
    height: 30px;
    width: 80px;
    background-color: black;
    color: aqua;
    border-radius: 5px;
  }
  #password, #username {
    height: 25px;
  }
}

